* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 0px;
}


.container {
    width: 90%;
    max-width: 500px;
    margin: 60px auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

input,
textarea {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

textarea {
    resize: none;
    height: 100px;
}

.name-row {
    display: flex;
    gap: 10px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: darkorange;
}

.social-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.social-sidebar a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.facebook {
    background: #1877f2;
}

.whatsapp {
    background: #25d366;
}

.telegram {
    background: #0088cc;
}

.social-sidebar a:hover {
    width: 65px;
}
@media (max-width: 992px) {
  .three {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .three {
    grid-template-columns: 1fr;
  }

  img {
    height: 180px;
  }

  .title-box {
    font-size: 22px;
  }
}